{% extends 'base.html' %}

{% block main %}
<div class="container mt-5">
    <h1 class="text-center mb-4">Сучасні смартфони</h1>
    <p class="lead text-center">Дізнайтесь про найновіші смартфони, що змінюють правила гри у світі технологій.</p>

    <!-- Секція смартфонів -->
    <div class="row mt-5">
        <!-- iPhone -->
        <div class="col-md-6 mb-4">
            <div class="card shadow-sm">
                <img src="https://i.pinimg.com/736x/b3/e6/ae/b3e6aeaa47709e1e4d23a7b2776b9b12.jpg" class="card-img-top" alt="iPhone">
                <div class="card-body">
                    <h5 class="card-title">Apple iPhone 16 Pro Max</h5>
                    <p class="card-text">Флагман Apple з титановим корпусом, камерою 48 Мп і процесором A18 Pro для ще більшої швидкості.</p>
                    <a href="/smartphone" class="btn btn-primary">Детальніше</a>
                </div>
            </div>
        </div>

        <!-- Samsung -->
        <div class="col-md-6 mb-4">
            <div class="card shadow-sm">
                <img src="https://i.pinimg.com/736x/24/22/32/24223258deb2711a6cfb6ffe2ba3b5e9.jpg" class="card-img-top" alt="Samsung">
                <div class="card-body">
                    <h5 class="card-title">Samsung Galaxy S24 Ultra</h5>
                    <p class="card-text">Смартфон з камерою 200 Мп, стилусом S Pen та штучним інтелектом Galaxy AI для щоденних задач.</p>
                    <a href="#" class="btn btn-primary">Детальніше</a>
                </div>
            </div>
        </div>
    </div>

    <div class="row mt-4">
        <!-- Xiaomi -->
        <div class="col-md-6 mb-4">
            <div class="card shadow-sm">
                <div class="card-body">
                <img src="https://i.pinimg.com/736x/7a/d6/0d/7ad60d6e7c282b1602f4bb8b040bca83.jpg" class="card-img-top" alt="Xiaomi">
                <div class="card-body">
                    <h5 class="card-title">Xiaomi 14T Pro</h5>
                    <p class="card-text">Потужний смартфон з камерою Leica, швидкою зарядкою 120 Вт і стильним AMOLED-дизайном.</p>
                    <a href="#" class="btn btn-primary">Детальніше</a>
                </div>
            </div>
        </div>

        <!-- Google Pixel -->
        <div class="col-md-6 mb-4">
            <div class="card shadow-sm">
                <img src="https://i.pinimg.com/736x/98/97/a0/9897a02f8cb25acda0a094b4a64af66c.jpg" class="card-img-top" alt="Google Pixel">
                <div class="card-body">
                    <h5 class="card-title">Google Pixel 9</h5>
                    <p class="card-text">Камера з новими алгоритмами Google AI, чистий Android 15 та компактний дизайн для зручності.</p>
                    <a href="#" class="btn btn-primary">Детальніше</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock main %}
